In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("trip_data_4.csv")

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.head(10)

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,91F6EB84975BBC867E32CB113C7C2CD5,AD8751110E6292079EB10EB9481FE1A6,CMT,1,N,2013-04-04 18:47:45,2013-04-04 19:00:25,1,759,2.5,-73.957855,40.765320,-73.976273,40.785648
1,EC34CD1B3797DFAFF3FE099BA87B6656,8FE6A4AEDF89B6B4E19D2377FD3FB7D7,CMT,1,N,2013-04-05 07:08:34,2013-04-05 07:17:34,1,540,1.6,0.000000,0.000000,0.000000,0.000000
2,C1B9DA774DC2BBC6DE27CE994E7F44A0,E1B595FD55E4C82C1E213EB17438107A,CMT,1,N,2013-04-04 17:59:50,2013-04-04 18:21:48,1,1318,3.6,-73.982880,40.754990,-74.009186,40.715374
3,9BA84250355AB3FC031C9252D395BF8A,16BB0D96A0DCC853AEC7F55C8D6C71E0,CMT,1,N,2013-04-04 18:12:01,2013-04-04 18:25:24,1,799,1.9,-73.978119,40.763451,-73.955666,40.776642
4,205A696DF62AD03C88DA8C5EC5248639,579C41EA5EC846F8B641A42F9EE3E855,CMT,1,N,2013-04-04 20:12:57,2013-04-04 20:29:55,1,1017,3.6,-74.006371,40.744755,-73.961662,40.761082
5,EE75E5927D00739AC342810C336A825E,1B4E92431F9DA4D49874EC76E769E874,CMT,1,N,2013-04-05 02:48:11,2013-04-05 02:51:21,2,189,0.7,-73.985191,40.754932,-73.990776,40.747997
6,3B5DA0DE0868F37FD41204DB36CE87CA,BC7B6E5A0132450CAE072F3C8F60BBE4,CMT,1,N,2013-04-05 06:16:10,2013-04-05 06:22:05,1,354,1.2,-73.985168,40.763420,-73.978867,40.751144
7,00B99071EE4DC8266384113B91E6AC13,013DB7F394A06CD241688F0F3E93F2F1,CMT,1,N,2013-04-05 06:20:10,2013-04-05 06:27:43,1,452,1.6,-73.980026,40.745785,-74.002747,40.756168
8,75FEF473DB69BA7BC5D61F5635792E1E,FCD2C03A60D84CE91A4DEB5E6A097FCF,CMT,1,N,2013-04-04 19:20:16,2013-04-04 19:30:52,1,635,0.4,-73.978477,40.761230,-73.984566,40.759415
9,13A57EE874E2560DF1F9D6C639BB7DAB,5FE3733438871FE98C05D259E8693750,CMT,1,N,2013-04-03 18:05:38,2013-04-03 18:23:06,1,1048,2.4,-73.961342,40.764793,-73.988472,40.756004

In [4]:
data[' trip_time_in_secs'].describe()

count    1.510047e+07
mean     7.466081e+02
std      5.504414e+02
min      0.000000e+00
25%      3.600000e+02
50%      6.000000e+02
75%      9.600000e+02
max      1.080000e+04
Name:  trip_time_in_secs, dtype: float64

In [5]:
data.groupby([' trip_distance', ' pickup_longitude', ' pickup_latitude', ' dropoff_longitude', ' dropoff_latitude']).agg({' trip_time_in_secs':'max'}).sort_values(by=' trip_time_in_secs', ascending=False).head()

                                                                                         trip_time_in_secs
 trip_distance  pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
17.69          -73.789566        40.646992        -73.995926         40.739574                       10800
17.82          -73.776711        40.645351        -73.985428         40.758076                       10800
45.46          -73.826332        40.781700        -73.793427         40.657051                       10740
35.80          -73.790154        40.645233        -73.788086         40.647366                       10713
1.60            0.000000         0.000000          0.000000          0.000000                        10680

In [6]:
# Terminal 8 Departures, New York, NY 11430, United States of America - 107 West 17th Street, New York, NY 10011, United States of America